body{
    height: 100vh;
    width: 100vw;
}
main{
    position: fixed;
    margin-top: 58px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background: #e6f2fc; */
    background: #d3e6f7;
}

.chat-card{
    border-radius: 0 20px 20px 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgb(210, 216, 221, .3), 0 6px 20px 0 rgb(210, 216, 221, .3);
    border-right: 5px solid rgb(13, 109, 253, .5);
    /* border-left: 5px solid rgb(13, 109, 253, .5); */
}
.chat-card-group{
    margin-bottom: 8.5rem;
}

.login, .register{
    position: relative;
}

.card-login{
    position: absolute;
    top: 25%;
    border-radius: 20px;
}
.card-register{
    position: absolute;
    top: 20%;
    border-radius: 20px;
}

.login input, .login button {
    box-shadow: inset 0 2px 4px 0 rgba(112, 112, 112, 0.2), inset 0 1.5px 5px 0 rgba(112, 112, 112, 0.2);
}
.register input, .register button {
    box-shadow: inset 0 2px 4px 0 rgba(112, 112, 112, 0.2), inset 0 1.5px 5px 0 rgba(112, 112, 112, 0.2);
}

.get-started div h1{
    font-size: 100px;
}

.footer .chat-navbar .form .button{
    margin-left: -64px!important;
    border-top-right-radius: 35px!important;
    border-bottom-right-radius: 35px!important;
    z-index: 1000!important;
}

.footer .chat-navbar .form .input{  
    padding-top: .65rem!important;
    padding-bottom: .65rem!important;
    padding-right: 4.5rem!important;
}

.footer .chat-navbar{
    background: #d3e6f7!important;
}